*.exe
*.exe~
*.dll
*.so
*.dylib


bin/
dist/


*.test
*.out
coverage.txt


.env
.env.local


.idea/
.vscode/
*.code-workspace

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
confignotes.txt

.DS_Store
Thumbs.db